BUCKET_NAME = '<YOUR BUCKER NAME>'
INVOICE_ID  = '<YOUR INVOICE ID>'

CONFIG = {
  access_key_id:     '<ACCESSKEY>',
  secret_access_key: '<SECRET/ACCESS/KEY>',
  region:            'ap-northeast-1'
}

####### THIS FROM THE FOLLOWING DOES NOT EDIT .

YEARMONTH = ENV['YM']  || Time.now.strftime('%Y-%m')
YPD       = ENV['YPD'] || 125

BUCKET = {
  bucket: BUCKET_NAME,
  key:    "#{INVOICE_ID}-aws-cost-allocation-#{YEARMONTH}.csv"
}
